.idea
myapi.db
*.pyc
__pycache__
migrations
alembic.ini
.env
logs
.deta
kis_devlp.yaml
.python-version
alembic.ini
.db
.vscode
*.log
*.sqlite3
*.pkl
*.db-journal
*.DS_Store
*.egg-info
.venv
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
celerybeat-schedule.db
test.db